<?xml version="1.0" encoding="UTF-8" ?>
<module>
    <name>amzpayments</name>
	<displayName>Payments Advanced</displayName>
	<version><![CDATA[2.0.12]]></version>
	<description><![CDATA[Simple integration of Amazon Payments for your prestaShop.]]></description>
	<author><![CDATA[patworx multimedia GmbH]]></author>
    <tab><![CDATA[payments_gateways]]></tab>
	<confirmUninstall>Wollen Sie das Modul wirklich deinstallieren?</confirmUninstall>
    <is_configurable>1</is_configurable>
    <need_instance>1</need_instance>
	<limited_countries></limited_countries>
</module>